events { worker_connections 1024; }
http{

  {{ range $i, $upstream := .paths }}

  upstream {{ $upstream.Path}} {
       
      {{ range $j, $server := $upstream.Backend.Servers}}
        {{$server}}:{{$upstream.Backend.Port}}
      {{end}}
    
  }
  {{ end }} #end range

  server{
    listen 80;

    {{ range $i, $upstream := .paths }}
      location {{$upstream.Path}} {
        proxy_pass http:/{{$upstream.Path}};
      }
    {{ end }} #end range

  }
}
daemon off;
